.App {
  text-align: center;
}

body {
  background-color: #a6e3f9;
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  color: rgb(235, 169, 234);
}

header {
  text-align: center;
  background-color: #a6e3f9;
  color: rgb(235, 169, 234);
  padding: 20px;
  font-family: 'Shadows Into Light', cursive;
}
